Source: vyos-http-api-tools
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 10),
  python3,
  python3-setuptools,
  dh-virtualenv (>= 1.0),
  python3-pip,
  python3-venv
Standards-Version: 3.9.6

Package: vyos-http-api-tools
Architecture: any
Pre-Depends: dpkg (>= 1.16.1),
  python3,
  ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: api tools for VyOS
  api tools for VyOS


